/* Header */

#header {
    background-color: #8AF3F3;
    border-bottom: 1px solid black;
}

#header-img {
    float: left;
    margin-right: 30px;
    width: 150px;
}

#title {
    font-family: 'Cinzel', 'Georgia', 'sans-serif';
    padding: 30px;
}

/* Train Schedule */

.card {
    border: 1px solid black;
    margin: 50px;
}

#add-btn {
    float: right;
}

table {
    padding: 30px;
}

/* Add Train Form */

h5 {
    font-family: 'Song Myung', 'Georgia', 'sans-serif';
}

form {
    margin: 20px;
}

input {
    margin-bottom: 10px;
}

#add-train {
    float: right;
}